#wrapper{
    display: flex;
    height: 95%;
    justify-content: space-between;
}

.container{
    display: flex;
    flex-direction: column;
    height: 95%;
}

.container img{
    width: 40%;
    height: 30%;
}

.container p{
    width: 30%;
    height: 50%;
    font-size: medium;
}